php_value post_max_size 2048M
php_value upload_max_filesize 2048M
php_value max_input_time 360
php_value max_execution_time 360
php_value memory_limit -1

<Files *.xgmml>
    ForceType application/octet-stream
    Header set Content-Disposition attachment
</Files>


<Files *.tab>
    ForceType application/octet-stream
    Header set Content-Disposition attachment
</Files>


<Files *.txt>
    ForceType application/octet-stream
    Header set Content-Disposition attachment
</Files>


